<div class="content__title">
  <h1>信息汇总
    <small>欢迎使用</small>
  </h1>
  <div class="blank-grow"></div>
  <div class="data-range">
    <span>时间范围：</span>
    <!-- <nz-range-picker [(ngModel)]="pickerRanges['最近30天']" [nzFormat]="dateFormat" [nzRanges]="pickerRanges" (ngModelChange)="rangePickerChange($event)"></!-->
    <nz-range-picker [(ngModel)]="pickerRanges['最近30天']" [nzRanges]="pickerRanges" (ngModelChange)="rangePickerChange($event)"></nz-range-picker>
  </div>
</div>
<nz-row nzGutter="32" *ngIf="summaries">
  <div *ngFor="let summary of summaries" nz-col nzXs="24" nzSm="12" nzMd="6" class="mb-md">
    <div nz-row nzType="flex" nzAlign="middle" [ngClass]="summary.bgColor" class="rounded-md">
      <div nz-col nzSpan="12" class="p-md text-white">
        <div class="h2 mt0">{{summary.data}}</div>
        <p class="text-nowrap mb0">{{summary.text}}</p>
      </div>
    </div>
  </div>
</nz-row>

<nz-row nzGutter="32">
  <div style="float:left; width:25%">
    <g2-pie [hasLegend]="true" title="使用数量情况"
            subTitle="使用数量情况"
            [total]="totalsynum"
            [valueFormat]="format"
            [data]="salesPieDatasynum"
            height="294"></g2-pie>
  </div>
  <div style="float:left; width:25%">
    <g2-pie [hasLegend]="true" title="使用金额情况"
            subTitle="使用金额情况"
            [total]="totalsymoney"
            [data]="salesPieDatasymoney"
            height="294"></g2-pie>
  </div>
  <div style="float:left; width:25%">
    <g2-pie [hasLegend]="true" title="报废数量情况"
            subTitle="报废数量情况"
            [total]="totalbfnum"
            [data]="salesPieDatabfnum"
            height="294"></g2-pie>
  </div>
  <div style="float:left; width:25%">
    <g2-pie [hasLegend]="true" title="报废金额情况"
            subTitle="报废金额情况"
            [total]="totalbfmoney"
            [data]="salesPieDatabfmoney"
            height="294"></g2-pie>
  </div>
</nz-row>
<!--<nz-row nzGutter="8">
  <nz-col nzSpan="24">
    <nz-card nzTitle="数据趋势图">
      <g2-timeline [data]="lineChartData" [titleMap]="{y1:'数据1', y2:'数据2'}" [height]="200"></g2-timeline>
    </nz-card>
  </nz-col>
</nz-row>-->
